USE [master]
GO
/****** Object:  Database [dbEMPRESA]    Script Date: 19/10/2021 17:02:45 ******/
CREATE DATABASE [dbEMPRESA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbEMPRESA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\dbEMPRESA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbEMPRESA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\dbEMPRESA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbEMPRESA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbEMPRESA]
GO
/****** Object:  UserDefinedTableType [dbo].[DetalleVenta]    Script Date: 19/10/2021 17:02:46 ******/
CREATE TYPE [dbo].[DetalleVenta] AS TABLE(
	[id] [int] NOT NULL,
	[idProducto] [int] NULL,
	[cantidad] [varchar](45) NULL,
	[precio_unitarui] [decimal](8, 2) NULL,
	PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (IGNORE_DUP_KEY = OFF)
)
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 19/10/2021 17:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[idCliente] [int] NOT NULL,
	[nombres] [varchar](60) NULL,
	[apellidos] [varchar](60) NULL,
	[nit] [varchar](12) NULL,
	[genero] [varchar](1) NULL,
	[telefono] [varchar](25) NULL,
	[correo] [varchar](45) NULL,
	[fecha_ingreso] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPRAS]    Script Date: 19/10/2021 17:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPRAS](
	[idCompra] [int] IDENTITY(1,1) NOT NULL,
	[no_orden_compra] [int] NULL,
	[idProveedor] [int] NOT NULL,
	[fecha_orden] [date] NULL,
	[fechaingreso] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[idCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPRAS_DETALLE]    Script Date: 19/10/2021 17:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPRAS_DETALLE](
	[idCompra_detalle] [int] IDENTITY(1,1) NOT NULL,
	[idCompra] [int] NOT NULL,
	[idProducto] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio_costo_unitario] [decimal](8, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idCompra_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLEADOS]    Script Date: 19/10/2021 17:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADOS](
	[idEmpleado] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](60) NULL,
	[apellido] [varchar](60) NULL,
	[direccion] [varchar](80) NULL,
	[telefono] [varchar](25) NULL,
	[DPI] [varchar](15) NULL,
	[genero] [varchar](1) NULL,
	[fecha_nacimiento] [date] NULL,
	[idPuesto] [int] NULL,
	[fecha_inicio_labores] [date] NULL,
	[fechaingreso] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARCAS]    Script Date: 19/10/2021 17:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCAS](
	[idMarca] [int] NOT NULL,
	[marca] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idMarca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 19/10/2021 17:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[idProducto] [int] IDENTITY(1,1) NOT NULL,
	[producto] [varchar](50) NULL,
	[idMarca] [int] NOT NULL,
	[descripcion] [varchar](100) NULL,
	[imagen] [varchar](30) NULL,
	[precio_costo] [decimal](8, 2) NULL,
	[precio_venta] [decimal](8, 2) NULL,
	[existencia] [int] NOT NULL,
	[fecha_ingreso] [varchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDORES]    Script Date: 19/10/2021 17:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDORES](
	[idProveedor] [int] IDENTITY(1,1) NOT NULL,
	[proveedor] [varchar](60) NULL,
	[nit] [varchar](12) NULL,
	[direccion] [varchar](80) NULL,
	[telefono] [varchar](25) NULL,
PRIMARY KEY CLUSTERED 
(
	[idProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PUESTOS]    Script Date: 19/10/2021 17:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUESTOS](
	[idPuesto] [int] NOT NULL,
	[puesto1] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[idPuesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENTAS]    Script Date: 19/10/2021 17:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTAS](
	[idVenta] [int] IDENTITY(1,1) NOT NULL,
	[nofactura] [int] NOT NULL,
	[serie] [varchar](1) NULL,
	[fechafactura] [date] NULL,
	[idCliente] [int] NOT NULL,
	[idEmpleado] [int] NOT NULL,
	[fechaingreso] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[idVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENTAS_DETALLE]    Script Date: 19/10/2021 17:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTAS_DETALLE](
	[idVenta_detalle] [int] IDENTITY(1,1) NOT NULL,
	[idVenta] [int] NOT NULL,
	[idProducto] [int] NOT NULL,
	[cantidad] [varchar](45) NULL,
	[precio_unitarui] [decimal](8, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[idVenta_detalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EMPLEADOS] ON 

INSERT [dbo].[EMPLEADOS] ([idEmpleado], [nombre], [apellido], [direccion], [telefono], [DPI], [genero], [fecha_nacimiento], [idPuesto], [fecha_inicio_labores], [fechaingreso]) VALUES (1, N'EDGAR', N'DARDON', N'ZONA 6', N'56461028', N'2399519990101', N'M', CAST(N'1993-02-14' AS Date), 1, CAST(N'2021-10-18' AS Date), CAST(N'2021-10-19T00:00:00.000' AS DateTime))
INSERT [dbo].[EMPLEADOS] ([idEmpleado], [nombre], [apellido], [direccion], [telefono], [DPI], [genero], [fecha_nacimiento], [idPuesto], [fecha_inicio_labores], [fechaingreso]) VALUES (2, N'MARIO', N'DARDON', N'ZONA 6', N'56461028', N'2399519990102', N'M', CAST(N'1993-02-14' AS Date), 1, CAST(N'2021-10-18' AS Date), CAST(N'2021-10-19T16:58:08.070' AS DateTime))
SET IDENTITY_INSERT [dbo].[EMPLEADOS] OFF
GO
INSERT [dbo].[MARCAS] ([idMarca], [marca]) VALUES (1, N'Asus')
INSERT [dbo].[MARCAS] ([idMarca], [marca]) VALUES (2, N'Mac')
INSERT [dbo].[MARCAS] ([idMarca], [marca]) VALUES (3, N'Mac')
GO
SET IDENTITY_INSERT [dbo].[PRODUCTOS] ON 

INSERT [dbo].[PRODUCTOS] ([idProducto], [producto], [idMarca], [descripcion], [imagen], [precio_costo], [precio_venta], [existencia], [fecha_ingreso]) VALUES (1, N'Laptop', 2, N'Gaming', N'imagen', CAST(10000.00 AS Decimal(8, 2)), CAST(110000.00 AS Decimal(8, 2)), 10, N'2021-10-19')
INSERT [dbo].[PRODUCTOS] ([idProducto], [producto], [idMarca], [descripcion], [imagen], [precio_costo], [precio_venta], [existencia], [fecha_ingreso]) VALUES (2, N'Tablet samsung', 3, NULL, NULL, CAST(0.00 AS Decimal(8, 2)), CAST(0.00 AS Decimal(8, 2)), 0, NULL)
INSERT [dbo].[PRODUCTOS] ([idProducto], [producto], [idMarca], [descripcion], [imagen], [precio_costo], [precio_venta], [existencia], [fecha_ingreso]) VALUES (3, N'Tablet A7', 1, NULL, NULL, CAST(0.00 AS Decimal(8, 2)), CAST(0.00 AS Decimal(8, 2)), 0, NULL)
SET IDENTITY_INSERT [dbo].[PRODUCTOS] OFF
GO
INSERT [dbo].[PUESTOS] ([idPuesto], [puesto1]) VALUES (1, N'Gerente')
INSERT [dbo].[PUESTOS] ([idPuesto], [puesto1]) VALUES (2, N'comprador')
GO
ALTER TABLE [dbo].[COMPRAS]  WITH CHECK ADD  CONSTRAINT [FK_PROVEEDOR] FOREIGN KEY([idProveedor])
REFERENCES [dbo].[PROVEEDORES] ([idProveedor])
GO
ALTER TABLE [dbo].[COMPRAS] CHECK CONSTRAINT [FK_PROVEEDOR]
GO
ALTER TABLE [dbo].[COMPRAS_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_COMPRA] FOREIGN KEY([idCompra])
REFERENCES [dbo].[COMPRAS] ([idCompra])
GO
ALTER TABLE [dbo].[COMPRAS_DETALLE] CHECK CONSTRAINT [FK_COMPRA]
GO
ALTER TABLE [dbo].[COMPRAS_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO] FOREIGN KEY([idProducto])
REFERENCES [dbo].[PRODUCTOS] ([idProducto])
GO
ALTER TABLE [dbo].[COMPRAS_DETALLE] CHECK CONSTRAINT [FK_PRODUCTO]
GO
ALTER TABLE [dbo].[EMPLEADOS]  WITH CHECK ADD  CONSTRAINT [FK_PUESTOS] FOREIGN KEY([idPuesto])
REFERENCES [dbo].[PUESTOS] ([idPuesto])
GO
ALTER TABLE [dbo].[EMPLEADOS] CHECK CONSTRAINT [FK_PUESTOS]
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_MARCARS] FOREIGN KEY([idMarca])
REFERENCES [dbo].[MARCAS] ([idMarca])
GO
ALTER TABLE [dbo].[PRODUCTOS] CHECK CONSTRAINT [FK_MARCARS]
GO
ALTER TABLE [dbo].[VENTAS]  WITH CHECK ADD  CONSTRAINT [FK_CLIENTES] FOREIGN KEY([idCliente])
REFERENCES [dbo].[CLIENTES] ([idCliente])
GO
ALTER TABLE [dbo].[VENTAS] CHECK CONSTRAINT [FK_CLIENTES]
GO
ALTER TABLE [dbo].[VENTAS]  WITH CHECK ADD  CONSTRAINT [FK_EMPLEADO] FOREIGN KEY([idEmpleado])
REFERENCES [dbo].[EMPLEADOS] ([idEmpleado])
GO
ALTER TABLE [dbo].[VENTAS] CHECK CONSTRAINT [FK_EMPLEADO]
GO
ALTER TABLE [dbo].[VENTAS_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTOS] FOREIGN KEY([idProducto])
REFERENCES [dbo].[PRODUCTOS] ([idProducto])
GO
ALTER TABLE [dbo].[VENTAS_DETALLE] CHECK CONSTRAINT [FK_PRODUCTOS]
GO
ALTER TABLE [dbo].[VENTAS_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_VENTAS] FOREIGN KEY([idVenta])
REFERENCES [dbo].[VENTAS] ([idVenta])
GO
ALTER TABLE [dbo].[VENTAS_DETALLE] CHECK CONSTRAINT [FK_VENTAS]
GO
/****** Object:  StoredProcedure [dbo].[SP_CLIENTES]    Script Date: 19/10/2021 17:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CLIENTES]
	@idcliente int,
	@nombres varchar(60),
@apellidos varchar(60),
@nit varchar (12),
@genero varchar(1),
@telefono varchar(25),
@correo varchar(45),
@fecha_ingreso DateTime,
@OPC int


AS
BEGIN TRAN
	
	IF(@OPC = 1) --Insert
	BEGIN
		
				SET @idcliente = (SELECT COUNT(*) FROM CLIENTES) + 1


		INSERT INTO CLIENTES(idCliente,nombres,apellidos,nit,genero,telefono,correo,fecha_ingreso)
			           VALUES(@idcliente,@nombres,@apellidos,@nit,@genero,@telefono,@correo,@fecha_ingreso)

		SELECT * FROM CLIENTES WHERE idCliente=@idcliente

	END
	ELSE IF(@OPC = 2) --Update
	BEGIN
		IF (@idcliente = 0)
		BEGIN
			ROLLBACK
				RAISERROR (N'Puesto invalido',16,1);	
			RETURN
		END

		UPDATE CLIENTES SET nombres=@nombres, apellidos=@apellidos, nit=@nit, genero=@genero, telefono=@telefono, correo=@correo
						   
						WHERE idCliente=@idcliente

		SELECT * FROM CLIENTES WHERE idCliente=@idcliente
	END
	ELSE IF(@OPC = 3) --Delete
	BEGIN
		IF (@idcliente = 0)
		BEGIN
			ROLLBACK
				RAISERROR (N'Puesto Invalido !!!~',16,1);	
			RETURN
		END

		DELETE FROM CLIENTES WHERE idCliente=@idcliente
	END
COMMIT TRAN
GO
/****** Object:  StoredProcedure [dbo].[SP_EMPLEADOS]    Script Date: 19/10/2021 17:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_EMPLEADOS]
@idEmpleado int=0,
@nombre varchar(60),
@apellido varchar(60),
@direccion varchar(80),
@telefono varchar(25),
@DPI varchar(15),
@genero varchar(1),
@fecha_nacimiento Date,
@idPuesto int,
@fecha_inicio_labores Date,
@fechaingreso DateTime,
	@OPC int,
	@cMensaje VARCHAR(100) OUTPUT

AS
BEGIN TRAN
	
	IF(@OPC = 1) --Insert
	BEGIN
		IF EXISTS(SELECT 1 FROM EMPLEADOS WHERE DPI = @DPI)
 BEGIN
	SET @cMensaje = 'El DPI  ya existe';
 END
 ELSE
				

		INSERT INTO EMPLEADOS(nombre,apellido,direccion,telefono,DPI,genero,fecha_nacimiento,idPuesto,fecha_inicio_labores,fechaingreso)output 
		inserted.idEmpleado, inserted.nombre,inserted.apellido,inserted.direccion,inserted.telefono,inserted.DPI,
		inserted.genero,inserted.fecha_nacimiento,inserted.idPuesto,inserted.fecha_inicio_labores,inserted.fechaingreso
			           VALUES(@nombre,@apellido,@direccion,@telefono,@DPI,@genero,@fecha_nacimiento,@idPuesto,@fecha_inicio_labores,GETDATE())

		
	END
	ELSE IF(@OPC = 2) --Update
	BEGIN
		IF (@idEmpleado = 0)
		BEGIN
			ROLLBACK
				RAISERROR (N'Producto invalido',16,1);	
			RETURN
		END

		UPDATE EMPLEADOS SET nombre=@nombre,
							 apellido=@apellido,
							 direccion=@direccion,
							 telefono=@telefono,
							 DPI=@DPI,
							 genero=@genero,
							 @fecha_nacimiento=@fecha_nacimiento,
							 idPuesto=@idPuesto,
							 fecha_inicio_labores=@fecha_inicio_labores,
							 fechaingreso=@fechaingreso
						output 
		inserted.idEmpleado, inserted.nombre,inserted.apellido,inserted.direccion,inserted.telefono,inserted.DPI,
		inserted.genero,inserted.fecha_nacimiento,inserted.idPuesto,inserted.fecha_inicio_labores,inserted.fechaingreso
						WHERE idEmpleado=@idEmpleado

		
	END
	ELSE IF(@OPC = 3) --Delete
	BEGIN
		IF (@idEmpleado = 0)
		BEGIN
			ROLLBACK
				RAISERROR (N'Proveedor Invalido !!!~',16,1);	
			RETURN
		END

		DELETE FROM EMPLEADOS WHERE idEmpleado=@idEmpleado
	END
COMMIT TRAN
GO
/****** Object:  StoredProcedure [dbo].[SP_MARCAS]    Script Date: 19/10/2021 17:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_MARCAS]
	@idmarca int,
	@marca varchar(50),
	@OPC int

AS
BEGIN TRAN
	
	IF(@OPC = 1) --Insert
	BEGIN
		
				SET @idmarca = (SELECT COUNT(*) FROM MARCAS) + 1


		INSERT INTO MARCAS(idMarca,marca)
			           VALUES(@idmarca,@marca)

		SELECT * FROM MARCAS WHERE idMarca=@idmarca

	END
	ELSE IF(@OPC = 2) --Update
	BEGIN
		IF (@idmarca = 0)
		BEGIN
			ROLLBACK
				RAISERROR (N'Puesto invalido',16,1);	
			RETURN
		END

		UPDATE MARCAS SET marca=@marca
						   
						WHERE idMarca=@idmarca

		SELECT * FROM MARCAS WHERE idMarca=@idmarca
	END
	ELSE IF(@OPC = 3) --Delete
	BEGIN
		IF (@idmarca = 0)
		BEGIN
			ROLLBACK
				RAISERROR (N'Puesto Invalido !!!~',16,1);	
			RETURN
		END

		DELETE FROM MARCAS WHERE idMarca=@idmarca
	END
COMMIT TRAN
GO
/****** Object:  StoredProcedure [dbo].[SP_PRODUCTOS]    Script Date: 19/10/2021 17:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_PRODUCTOS]
@idProducto int=0,
@producto varchar(50),
@idMarca int,
@descripcion varchar(100),
@imagen varchar(30),
@precio_costo Decimal(8,2),
@precio_venta Decimal(8,2),
@existencia int ,
@fecha_ingreso varchar(45),
	@OPC int,
	@cMensaje VARCHAR(100) OUTPUT

AS
BEGIN TRAN
	
	IF(@OPC = 1) --Insert
	BEGIN
		IF EXISTS(SELECT 1 FROM PRODUCTOS WHERE producto = @producto)
 BEGIN
	SET @cMensaje = 'El producto  ya existe';
 END
 ELSE
				

		INSERT INTO PRODUCTOS(producto,idMarca,descripcion,imagen,precio_costo,precio_venta,existencia,fecha_ingreso)output inserted.idProducto, 
		inserted.producto,inserted.idMarca
			           VALUES(@producto,@idMarca,@descripcion,@imagen,@precio_costo,@precio_venta,@existencia,@fecha_ingreso)

		
	END
	ELSE IF(@OPC = 2) --Update
	BEGIN
		IF (@idProducto = 0)
		BEGIN
			ROLLBACK
				RAISERROR (N'Producto invalido',16,1);	
			RETURN
		END

		UPDATE PRODUCTOS SET producto=@producto,
							 idMarca=@idMarca,
							 descripcion=@descripcion,
							 imagen=@imagen,
							 precio_costo=@precio_costo,
							 precio_venta=@precio_venta,
							 existencia=@existencia,
							 fecha_ingreso=@fecha_ingreso
						output inserted.idProducto, inserted.producto,inserted.idMarca
						WHERE idProducto=@idProducto

		
	END
	ELSE IF(@OPC = 3) --Delete
	BEGIN
		IF (@idProducto = 0)
		BEGIN
			ROLLBACK
				RAISERROR (N'Proveedor Invalido !!!~',16,1);	
			RETURN
		END

		DELETE FROM PRODUCTOS WHERE idProducto=@idProducto
	END
COMMIT TRAN
GO
/****** Object:  StoredProcedure [dbo].[SP_PROVEEDORES]    Script Date: 19/10/2021 17:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_PROVEEDORES]
	@idproveedor int=0,
	@proveedor varchar(60),
	@nit varchar(12),
	@direccion varchar(80),
	@telefono varchar(25),
	@OPC int,
	@cMensaje VARCHAR(100) OUTPUT

AS
BEGIN TRAN
	
	IF(@OPC = 1) --Insert
	BEGIN
		IF EXISTS(SELECT 1 FROM PROVEEDORES WHERE proveedor = @proveedor)
 BEGIN
	SET @cMensaje = 'El codigo para este producto  ya existe';
 END
 ELSE
				

		INSERT INTO PROVEEDORES(proveedor,nit,direccion,telefono)output inserted.idProveedor, 
		inserted.proveedor,inserted.nit,inserted.direccion,inserted.telefono
			           VALUES(@proveedor,@nit,@direccion,@telefono)

		
	END
	ELSE IF(@OPC = 2) --Update
	BEGIN
		IF (@idproveedor = 0)
		BEGIN
			ROLLBACK
				RAISERROR (N'Proveedor invalido',16,1);	
			RETURN
		END

		UPDATE PROVEEDORES SET proveedor=@proveedor,
							   nit=@nit,
							   direccion=@direccion,
							   telefono=@telefono
						   output inserted.idProveedor, 
		inserted.proveedor,inserted.nit,inserted.direccion,inserted.telefono
						WHERE idProveedor=@idproveedor

		
	END
	ELSE IF(@OPC = 3) --Delete
	BEGIN
		IF (@idproveedor = 0)
		BEGIN
			ROLLBACK
				RAISERROR (N'Proveedor Invalido !!!~',16,1);	
			RETURN
		END

		DELETE FROM PROVEEDORES WHERE idProveedor=@idproveedor
	END
COMMIT TRAN
GO
/****** Object:  StoredProcedure [dbo].[SP_PUESTOS]    Script Date: 19/10/2021 17:02:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_PUESTOS]
	@idpuesto int,
	@puesto varchar(50),
	@OPC int

AS
BEGIN TRAN
	
	IF(@OPC = 1) --Insert
	BEGIN
		
				SET @idpuesto = (SELECT COUNT(*) FROM PUESTOS) + 1


		INSERT INTO PUESTOS(idPuesto,puesto1)
			           VALUES(@idpuesto,@puesto)

		SELECT * FROM PUESTOS WHERE idPuesto=@idpuesto

	END
	ELSE IF(@OPC = 2) --Update
	BEGIN
		IF (@idpuesto = 0)
		BEGIN
			ROLLBACK
				RAISERROR (N'Puesto invalido',16,1);	
			RETURN
		END

		UPDATE PUESTOS SET puesto1=@puesto
						   
						WHERE idPuesto=@idpuesto

		SELECT * FROM PUESTOS WHERE idPuesto=@idpuesto
	END
	ELSE IF(@OPC = 3) --Delete
	BEGIN
		IF (@idpuesto = 0)
		BEGIN
			ROLLBACK
				RAISERROR (N'Puesto Invalido !!!~',16,1);	
			RETURN
		END

		DELETE FROM PUESTOS WHERE idPuesto=@idpuesto
	END
COMMIT TRAN
GO
USE [master]
GO
